:coffeescript    
  $ ->
    setTimeout( ->
      window.location = "/print"
    ,
      1000
    )

.container.container-full-height
  .screen-only
    .page-1.page.progress-page
      .page-content.align_center
        .full-page.surf-blue.top-half.verticalize-container.loading-container
          .verticalize
            .head
              %p Gathering data
            .info
              %p
                %em Please wait
            .loading
              &nbsp;