:coffeescript    
  $ ->
    $.getScript '//connect.facebook.net/en_UK/all.js', () ->
      
      FB.init
        appId: '236728149743944'
      
      updateStatusCallback = (res) ->
        if (res.status == 'connected') 
          FB.logout()

      FB.getLoginStatus(updateStatusCallback)
  

.container.container-full-height
  .screen-only
    .page-1.page
      .page-content.align_center
        .half-page.surf-blue.top-half.verticalize-container
          .verticalize
            .head
              %p E-dentity
            %p.sign-in
              = link_to "Sign in with Facebook", "/auth/facebook"
        
        .half-page.half-white.verticalize-container
          .verticalize.scale_0
            %p
              E-dentity is your private album of content you have shared on Facebook. This booklet seeks to give users an insight to simplicity of gathering and analysing your most sensitive information. It asks a participant to login to its Facebook account, scrapes his history and automatically prints it in an understandable form that is handed to the user. In information society there is nothing more valuable than the information itself. This is given further impetus by the recent leaks where a number of mass-surveillance programs were undertaken by the NSA and GCHQ, demonstrating to us how our privacy has never been as compromised as it is right now.
            .underlined
              %p
                Disclaimer: 
            %p
              All data is erased after printing and is not being saved on any servers. Authors promise the data are not going to be used in any other purpose other than project Edentity. They are at not responsible for any damage that gathered information may cause.
            %p
              Authors: Emil Kozole with Srđan Prodanović
            %p
              Organised by: Galerija Aksioma
            %p
              Kino Šiška, 2014