
<script>
  (function() {
    $(function() {
      return $('body').imagesLoaded(function() {
        // the_name_width = $('.the-name').outerWidth();
        // the_name_height = $('.the-name').outerHeight();
        // the_format_width = $('.cover .print-page-content').outerWidth();
        // $('.the-name').css('margin-left', the_name_width / -2);
        // $('.the-name').css('margin-top', the_name_height / -2);
      });
    });
  
  }).call(this);
</script>
<div class='container container-full-height image-container'>
  <div class='screen-only'>
    <div class='page-1 page progress-page'>
      <div class='page-content align_center'>
        <div class='full-page surf-blue top-half verticalize-container'>
          <div class='verticalize'>
            <div class='head'>
              <p>Printing report</p>
            </div>
            <div class='info'>
              <p>
                <em>Please wait</em>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='print-only'>
    <div class='cover page-1 print-page full-page'>
      <div class='print-page-content align_center'>
        <img class='the-pictur' src='https://scontent-a.xx.fbcdn.net/hphotos-frc1/t1.0-9/1901238_10151834050011571_737347920_n.jpg'>
        <div class='the-name'>
          Srđananananana Prodanovićiciciciccicicicic
        </div>
      </div>
    </div>
    <div class='spacer print-page full-page'>
      <div class='print-page-content align_center'>
        <p>
          &nbsp;
        </p>
      </div>
    </div>
    <div class='print-page-2 print-page full-page'>
      <div class='print-page-content align_center'>
        <div class='underlined'>
          <p>
            Welcome to your life
            Srđan Prodanović
          </p>
        </div>
        <div class='dates'>
          <div class='born'>
            <p>
              born:
              1984-06-07
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class='print-page-3 print-page complex-page full-page'>
      <div class='print-page-content align_center'>
        <div class='underlined'>
          <p>
            Topics you are interested in
          </p>
        </div>
        <div class='part'>
          <p>
            #woot
          </p>
        </div>
        <div class='part'>
          <p>
            #FRIENDS
          </p>
        </div>
        <div class='part'>
          <p>
            #hashtag
          </p>
        </div>
        <div class='part'>
          <p>
            #scanning
          </p>
        </div>
      </div>
    </div>
    <div class='print-page-4 print-page complex-page full-page'>
      <div class='print-page-content align_center'>
        <div class='underlined'>
          <p>
            Places you have visited
          </p>
        </div>
        <div class='part'>
          <p>
            Grad Fužine
          </p>
        </div>
        <div class='part'>
          <p>
            Channel Zero
          </p>
        </div>
        <div class='part'>
          <p>
            Bikofe
          </p>
        </div>
        <div class='part'>
          <p>
            Grad Kodeljevo
          </p>
        </div>
        <div class='part'>
          <p>
            Bi Ko Fe
          </p>
        </div>
        <div class='part'>
          <p>
            Belgrade, Serbia
          </p>
        </div>
        <div class='part'>
          <p>
            Klub K4
          </p>
        </div>
        <div class='part'>
          <p>
            F Club
          </p>
        </div>
        <div class='part'>
          <p>
            Ljubljana, Slovenia
          </p>
        </div>
      </div>
    </div>
    <div class='print-page-5 print-page complex-page full-page'>
      <div class='print-page-content align_center'>
        <div class='underlined'>
          <p>
            Things that you like
          </p>
        </div>
        <div class='part'>
          <p>
            TeamSupreme
          </p>
        </div>
        <div class='part'>
          <p>
            G Jones
          </p>
        </div>
        <div class='part'>
          <p>
            フレッドYOLO
          </p>
        </div>
        <div class='part'>
          <p>
            I fucking love science
          </p>
        </div>
        <div class='part'>
          <p>
            nevem nevem
          </p>
        </div>
        <div class='part'>
          <p>
            Gale Rica
          </p>
        </div>
        <div class='part'>
          <p>
            Wu-Tang Clan
          </p>
        </div>
        <div class='part'>
          <p>
            Kmetija Strojan
          </p>
        </div>
        <div class='part'>
          <p>
            Loudspeaker Alliance
          </p>
        </div>
        <div class='part'>
          <p>
            TOK TOK
          </p>
        </div>
        <div class='part'>
          <p>
            Tut'n Kamn- Pub
          </p>
        </div>
        <div class='part'>
          <p>
            Yashar Gasanov
          </p>
        </div>
        <div class='part'>
          <p>
            BOHREN &amp; DER CLUB OF GORE/ official
          </p>
        </div>
        <div class='part'>
          <p>
            RMA
          </p>
        </div>
        <div class='part'>
          <p>
            Emily Ratajkowski
          </p>
        </div>
        <div class='part'>
          <p>
            HW&amp;W Recordings
          </p>
        </div>
        <div class='part'>
          <p>
            Virage              visuals
          </p>
        </div>
        <div class='part'>
          <p>
            The Oatmeal
          </p>
        </div>
        <div class='part'>
          <p>
            The Onion
          </p>
        </div>
        <div class='part'>
          <p>
            Slovensko seksološko društvo
          </p>
        </div>
        <div class='part'>
          <p>
            The Tiger Lillies
          </p>
        </div>
        <div class='part'>
          <p>
            Illusion Art
          </p>
        </div>
        <div class='part'>
          <p>
            Ziebane
          </p>
        </div>
        <div class='part'>
          <p>
            RTV Študent
          </p>
        </div>
        <div class='part'>
          <p>
            ANJA SLIBAR
          </p>
        </div>
      </div>
    </div>
    <div class='print-page-y print-page complex-page full-page'>
      <div class='print-page-content align_center'>
        <div class='underlined'>
          <p>Things you are saying</p>
        </div>
        <div class='part'>
          <p class='scale_2'>
            &quot;A zrihta kdo za hat?&quot;
          </p>
        </div>
        <div class='part'>
          <p class='scale_2'>
            &quot;Umor v disku&quot;
          </p>
        </div>
        <div class='part'>
          <p class='scale_2'>
            &quot;= )&quot;
          </p>
        </div>
        <div class='part'>
          <p class='scale_2'>
            &quot;Installing the latest Rails 2.x for an old codebase when.. Shat brix.
            
            $ gem install rails --version='&lt;3'
            Successfully installed activesupport-2.3.14
            Successfully installed activerecord-2.3.14
            Successfully installed rack-1.1.2
            Successfully installed actionpack-2.3.14
            Successfully installed actionmailer-2.3.14
            Successfully installed activeresource-2.3.14
            Successfully installed rails-2.3.14
            7 gems installed&quot;
          </p>
        </div>
        <div class='part'>
          <p class='scale_2'>
            &quot;Gremo mal čekirat Petek v Bikofeju: Dj Dado!&quot;
          </p>
        </div>
        <div class='part'>
          <p class='scale_2'>
            &quot;Geslo za wi-fi je: 
            pleska vica abc 123&quot;
          </p>
        </div>
        <div class='part'>
          <p class='scale_2'>
            &quot;Multitrack&quot;
          </p>
        </div>
        <div class='part'>
          <p class='scale_2'>
            &quot;Prejle sem jih pustu..&quot;
          </p>
        </div>
      </div>
    </div>
    <div class='print-page-5 print-page complex-page full-page'>
      <div class='print-page-content align_center'>
        <div class='underlined'>
          <p>Events you have attended</p>
        </div>
        <div class='part'>
          <p>
            TOP REJVERKA 2014
            <br>
            <em>
              <strong>
                Partyinfo.si, Dec 31
              </strong>
            </em>
          </p>
        </div>
        <div class='part'>
          <p>
            RICARDO VILLALOBOS &amp; VALENTINO KANZYANI
            <br>
            <em>
              <strong>
                Ambasada Gavioli, Apr 26
              </strong>
            </em>
          </p>
        </div>
        <div class='part'>
          <p>
            RAZSTAVA freštreš &lt;3
            <br>
            <em>
              <strong>
                Kurilnica, Apr 24
              </strong>
            </em>
          </p>
        </div>
        <div class='part'>
          <p>
            DVS &amp; KMN @ Žmauc - 19.4.2014
            <br>
            <em>
              <strong>
                ŽMAUC - Od Žmauca sosed pa ud brata prjatu, Apr 19
              </strong>
            </em>
          </p>
        </div>
      </div>
    </div>
    <div class='print-page-x print-page complex-page full-page'>
      <div class='print-page-content align_center'>
        <div class='underlined'>
          <p>Private Messages</p>
        </div>
        <div class='underlined'>
          <p></p>
          Jana Soban
        </div>
        <div class='part'>
          <p>
            ke je to KCS
          </p>
        </div>
        <div class='underlined'>
          <p></p>
          Srđan Prodanović
        </div>
        <div class='part'>
          <p>
            Ej nism se poklicu. Si ti ze vmes govorila kej z njo? Basla te dni sm spet mogu izklopit svet pa par stvari dokoncat. Let me know. Js bom poslal dopoldan msg
          </p>
        </div>
        <div class='underlined'>
          <p></p>
          Srđan Prodanović
        </div>
        <div class='part'>
          <p>
            Ta pografitirana bajta nasprot Robija v Šiški. Kreativna Cona Šiška, Celovška 51
          </p>
        </div>
        <div class='underlined'>
          <p></p>
          Jana Soban
        </div>
        <div class='part'>
          <p>
            sam zdj se pa ne javlja..neki ne stima bemo
          </p>
        </div>
        <div class='underlined'>
          <p></p>
          Srđan Prodanović
        </div>
        <div class='part'>
          <p>
            Greš dans ven?
          </p>
        </div>
      </div>
    </div>
    <div class='print-page-x print-page complex-page full-page'>
      <div class='print-page-content align_center'>
        <div class='underlined'>
          <p>Private Messages</p>
        </div>
        <div class='underlined'>
          <p></p>
          Matic Kadliček
        </div>
        <div class='part'>
          <p>
            cut the bullshit loose :)
          </p>
        </div>
        <div class='underlined'>
          <p></p>
          Matic Kadliček
        </div>
        <div class='part'>
          <p>
            sm pa glih njega tut mal prej vabu :)
          </p>
        </div>
        <div class='underlined'>
          <p></p>
          Srđan Prodanović
        </div>
        <div class='part'>
          <p>
            Em jo. A vi bote nabrali kej denarjaza pejđ? Js sm ful gibo s kešom
          </p>
        </div>
        <div class='underlined'>
          <p></p>
          Matic Kadliček
        </div>
        <div class='part'>
          <p>
            kolk pa pričakuješ?
          </p>
        </div>
        <div class='underlined'>
          <p></p>
          Matic Kadliček
        </div>
        <div class='part'>
          <p>
            štekam ja
          </p>
        </div>
      </div>
    </div>
    <div class='print-page-x print-page complex-page full-page'>
      <div class='print-page-content align_center'>
        <div class='underlined'>
          <p>Private Messages</p>
        </div>
        <div class='underlined'>
          <p></p>
          Անակսիմանդար Երազեմ Պագե
        </div>
        <div class='part'>
          <p>
            lepo ratuje
          </p>
        </div>
        <div class='underlined'>
          <p></p>
          Srđan Prodanović
        </div>
        <div class='part'>
          <p>
            Jo
          </p>
        </div>
        <div class='underlined'>
          <p></p>
          Անակսիմանդար Երազեմ Պագե
        </div>
        <div class='part'>
          <p>
            ne vem
          </p>
        </div>
        <div class='underlined'>
          <p></p>
          Անակսիմանդար Երազեմ Պագե
        </div>
        <div class='part'>
          <p>
            hejter z mano se ubada
          </p>
        </div>
        <div class='underlined'>
          <p></p>
          Srđan Prodanović
        </div>
        <div class='part'>
          <p>
            Smećlife
          </p>
        </div>
      </div>
    </div>
    <div class='print-page-x print-page complex-page full-page'>
      <div class='print-page-content align_center'>
        <div class='underlined'>
          <p>Private Messages</p>
        </div>
        <div class='underlined'>
          <p></p>
          Andrej Koruza
        </div>
        <div class='part'>
          <p>
            Kaj je to?
          </p>
        </div>
        <div class='underlined'>
          <p></p>
          Andrej Koruza
        </div>
        <div class='part'>
          <p>
            Odvisnik
          </p>
        </div>
        <div class='underlined'>
          <p></p>
          Andrej Koruza
        </div>
        <div class='part'>
          <p>
            Aaaa
          </p>
        </div>
        <div class='underlined'>
          <p></p>
          Siniša Šafarić
        </div>
        <div class='part'>
          <p>
            visibaba
          </p>
        </div>
        <div class='underlined'>
          <p></p>
          Siniša Šafarić
        </div>
        <div class='part'>
          <p>
            ajdiemić iz stirke
          </p>
        </div>
      </div>
    </div>
    <div class='print-page-x print-page last-page full-page'>
      <div class='print-page-content align_center'>
        <div class='underlined'>
          <p>Disclaimer</p>
        </div>
        <p>
          E-dentity is a project that asks a participant to login to its Facebook account, then takes his/ her private data from their profile and automatically prints them in an understandable booklet that is handed to the user. This booklet seeks to raise awareness of the hidden data we are sharing which we are often not aware of. Data is not being kept for any reasons other than stated above.
        </p>
        <p>
          &nbsp;
        </p>
        <!-- %p -->
        <!-- Part of communication design question “Can the internet ever forget?” -->
        <!-- .underlined -->
        <!-- %p -->
        <!-- %a{:href => 'http://temporaryhaven.tumblr.com'} temporaryhaven.tumblr.com -->
        <p>
          Emil Kozole + Srđan Prodanović
        </p>
        <p>
          <em>
            <strong>Galerija Aksioma, 2014</strong>
          </em>
        </p>
      </div>
    </div>
    <!-- %p.col_12 -->
    <!-- = debug user -->
    <!-- = debug fb_user -->
    <!-- = img = FbGraph:: fb_user.picture -->
  </div>
</div>